.checkbox {
    position: fixed;
    top: 10px;
    right: 20px;
}

.checkbox__label {
    display: flex;
    height: 28px;
    line-height: 28px;
    margin-right: 10px;
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    user-select: none;
}

.checkbox__label .checkbox_switch {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 36px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 25%/50%;
    vertical-align: top;
    background: #eeeeee;
    transition: .2s;
}

.checkbox__label .checkbox_switch::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    transition: .15s;
}

.checkbox__label input[type=checkbox] {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox__label input[type=checkbox]:not(:disabled):active+.checkbox_switch::before {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
}

.checkbox__label input[type=checkbox]:checked+.checkbox_switch {
    background: #7C3AED;
}

.checkbox__label input[type=checkbox]:checked+.checkbox_switch::before {
    transform: translateX(17px);
}

.checcheckbox__label input[type="checkbox"]:not(:disabled)+.checkbox_switch {
    cursor: pointer;
    border-color: rgba(0, 0, 0, .3);
}

.checkbox__label input[type=checkbox]:disabled+.checkbox_switch {
    filter: grayscale(70%);
    border-color: rgba(0, 0, 0, .1);
}

.checkbox__label input[type=checkbox]:disabled+.checkbox_switch::before {
    background: #eeeeee;
}

.checkbox__label.focused .checkbox_switch::before {
    box-shadow: inset 0px 0px 4px #ff5623;
}

.checkbox_heading {
    padding-left: 10px;
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
    margin-right: 10px;
}

.checkbox_heading-light {
    color: #000000;
}